<h3>{f:translate(key:'tx_armdealers_domain_model_tpl.contactfrm',extensionName:'Armdealers')}</h3>
<h4>{f:translate(key:'tx_armdealers_domain_model_tpl.personaldetails',extensionName:'Armdealers')}</h4>
<p>{f:translate(key:'tx_armdealers_domain_model_tpl.vorname',extensionName:'Armdealers')}: {data.vorname}</p>
<p>{f:translate(key:'tx_armdealers_domain_model_tpl.name',extensionName:'Armdealers')}: {data.name}</p>
<p>{f:translate(key:'tx_armdealers_domain_model_tpl.email',extensionName:'Armdealers')}: {data.email}</p>
<p>{f:translate(key:'tx_armdealers_domain_model_tpl.zip',extensionName:'Armdealers')}: {data.zip}</p>
<p>{f:translate(key:'tx_armdealers_domain_model_tpl.message',extensionName:'Armdealers')}: {data.message}</p>