<f:if condition="{dealers}">
    <f:for each="{dealers}" as="dealer">
        <f:render partial="List/Dealer" arguments="{_all}" />
    </f:for>
</f:if>
<f:if condition="{dealer}">
    <f:render partial="List/Dealer" arguments="{_all}" />
</f:if>
<div id="rolfmap"></div>
<script type="text/javascript">


    <f:format.raw>{jsDealers}</f:format.raw>
    var map;
    var clat = <f:format.raw>{slat}</f:format.raw>;
    var clng = <f:format.raw>{slng}</f:format.raw>;
    var czoom = <f:format.raw>{settings.zoom}</f:format.raw>;
    var image = "<f:format.raw>{settings.logomap}</f:format.raw>";
    var MPCENTER = {lat:clat, lng: clng};


    function initMap() {
        map = new google.maps.Map(document.getElementById('rolfmap'), {
          center: MPCENTER,
          zoom: czoom,
        });
        
        /*var icon = {
            url: image,
            scaledSize: new google.maps.Size(75, 100),
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(35, 50)
        };*/

        console.log(dealers);

        for (var i = 0; i < dealers.length; i++) {
            var data = dealers[i];
            var markers = new google.maps.Marker({
                position: {lat: data.lat, lng: data.lng},
                map: map,
                icon: image,
                title: data.title
             });
            
             (function (markers, data) {
                addInfoWindow(markers, data.title);
                google.maps.event.addListener(markers, "click", function (e) {
                    $('.mapcontact').hide();
                    document.getElementById(data.dvinfo).style.display="block";
                });
            })(markers, data);
        }
    }
    
    function addInfoWindow(marker, message) {

        var infoWindow = new google.maps.InfoWindow({
            content: message
        });

        google.maps.event.addListener(marker, 'mouseover', function () {
            infoWindow.open(map, marker);
        });
        google.maps.event.addListener(marker, "mouseout", function () {
            infoWindow.close();
        });
    }
    
</script>
<f:variable name="apiKey" value="{settings.googleApiKey}" />
<script async defer src="https://maps.googleapis.com/maps/api/js?key={apiKey}&callback=initMap"></script>
