<f:if condition="{categories}">
    <section class="gbl">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-10 offset-lg-1">
                    <div class="eightimgcontainer">
                        <f:for each="{categories}" as="category">
                            <div class="fourimages mb-5">
                                <f:link.page pageUid="{category.pageuid}" additionalParams="{dealer: settings.dealer}">
                                    <f:image image="{category.image}" treatIdAsReference="1" width="520" height="386c" />
                                </f:link.page>
                                <div class="image-caption">
                                    <f:link.page pageUid="{category.pageuid}" additionalParams="{dealer: settings.dealer}">{category.title}</f:link.page>
                                </div>
                            </div>
                        </f:for>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="javascript:history.go(-1)">{f:translate(key:'tx_armdealers_show.back')} {dealer.title}</a>
                </div>
            </div>
        </div>
    </section>
                    
</f:if>
