<section class="gbl">
    <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
                    <div class="introTxt">
                        <h1 class="text-center">{cattitle} im {dealer.title}</h1>
                        <p class="align-center"><f:format.raw><f:format.nl2br>{settings.text}</f:format.nl2br></f:format.raw></p>
                    </div>
                </div>
            </div>
    </div>
</section>
<f:if condition="{products}">
    <section class="gbl">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
                    <div class="eightimgcontainer">
                        <f:for each="{products}" as="product">
                            <div class="fiveimages mb-5">
                                <f:link.page pageUid="{settings.productpage}" additionalParams="{dealer: dealer.uid, product:product.uid}">
                                    <f:image image="{product.preview}" treatIdAsReference="1" width="400" height="297c" />
                                </f:link.page>
                                <div class="image-caption">
                                    <f:link.page pageUid="{settings.productpage}" additionalParams="{dealer: dealer.uid, product:product.uid}">{product.title}</f:link.page>
                                </div>
                            </div>
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
    </section>
</f:if>