@font-face {font-family:"Helvetica Neue";src:url("../fonts/HelveticaNeue.eot?") format("eot"),url("../fonts/HelveticaNeue.woff") format("woff"),url("../fonts/HelveticaNeue.ttf") format("truetype"),url("../fonts/HelveticaNeue.svg") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Helvetica Neue Lt";src:url("../fonts/HelveticaNeue-Light.eot?") format("eot"),url("../fonts/HelveticaNeue-Light.woff") format("woff"),url("../fonts/HelveticaNeue-Light.ttf") format("truetype"),url("../fonts/HelveticaNeue-Light.svg") format("svg");font-weight:300;font-style:normal;}
@font-face {font-family:"Helvetica Neue Bd";src:url("../fonts/HelveticaNeue-Bold.eot?") format("eot"),url("../fonts/HelveticaNeue-Bold.woff") format("woff"),url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"),url("../fonts/HelveticaNeue-Bold.svg") format("svg");font-weight:600;font-style:normal;}

*, *::before, *::after{
    -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
html, body {
    font-family: 'HelveticaNeueW01-45Ligh','HelveticaNeueW01-Thin','Helvetica Neue Lt','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 17px;
    color:#000; 
    font-weight:400; 
    line-height: 1.43;
    padding:0;
    margin:0px; 
    height:100%; 
    background: #fff; 
    overflow: auto;
}

body {
    overflow-x: hidden; 
}

h1, h2, h3, h4, h5, h6, .h1, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'HelveticaNeueW01-85Heav', Arial;
    font-weight: 400; line-height: 1.2; color: #000;
    text-transform: uppercase; padding:0px; margin: 0px; 
    position: relative; 
    
}
h1 {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 15px;
}
h2 {
    font-size: 15px;
    line-height: 18px;
}
h2.subtitle{
    font-weight: 300; padding-top: 10px; text-transform: inherit; font-size: 18px;
    font-family: 'HelveticaNeueW01-45Ligh','Helvetica NeueW01-Thin',"Helvetica Neue",Arial,sans-serif;
}
h3 {
    font-size: 14px;
    line-height: 17px;
}
h4 {
    font-size: 12px;
    line-height: 15px;
}

.ld2020 h1{font-size: 20px;line-height: 24px;margin-bottom: 10px; text-transform: inherit;}
.ld2020 h2{font-size: 18px;line-height: 20px;margin-bottom: 10px;}
.ld2020 h3{font-size: 16px;line-height: 20px;margin-bottom: 10px;}
.ld2020 p{font-size: 12px;}

::-webkit-input-placeholder {color:#000; opacity: 1;}
::-moz-placeholder {color:#000; opacity: 1;}
:-ms-input-placeholder {color:#000; opacity: 1;}
:-moz-placeholder {color:#000; opacity: 1;}

html.mm-blocking{
    overflow: visible;
}

input{max-width: 100%;}

blockquote{margin: 0;}

img{
    display: inline-block;
    height: auto;
    width: 100%;
}
.slide-image img {max-width: 100%;width: inherit;}


p {margin: 0 0 20px; line-height:28px; font-family: 'HelveticaNeueW01-45Ligh','HelveticaNeueW01-Thin',"Helvetica Neue Lt","Helvetica Neue",Helvetica,Arial,sans-serif;}

hr {border: 1px solid #ddd; margin:25px 0;}

a {color:#000; text-decoration:none;}
.introTxt p a, .graylink {color: #949494;}
a:hover {color:#999; text-decoration:none;}
a:focus {text-decoration:none; outline: none;}

a {
    -webkit-transition: ease-out 0.3s; -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s; transition: ease-out 0.3s;
    }
a:hover {
    -webkit-transition: ease-out 0s; -moz-transition: ease-out 0s;
    -o-transition: ease-out 0s; transition: ease-out 0s;
    }

label {font-weight:normal;}
.image-embed-item {width: inherit!important; max-width: 100%!important;}
.bootstrap-tagsinput {margin-bottom:0px;}
.label-info {background-color: #b32017;}
.label {font-size:18px; font-weight:normal;}
.bootstrap-tagsinput .tag {margin:2px; display:inline-block;}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none; outline-offset:0px;  
    outline: 0px auto -webkit-focus-ring-color;
}
.form-control:focus{box-shadow: inherit;}
.wrapper{   
    padding:0px 0 0; margin:0px auto; position: relative;
    width:100%; height:100%; z-index: 3;
    max-width: 1920px;
    }
.container {
    max-width:1000px; 
    width:100%; 
    position:relative;
}
.gbl,.frame, .footer, .sub-footer {background-color: #fff;}
.wrapper:after, 
.container:after, 
.gbl:after{
    display: table; 
    clear: both; content: "";
}
.fullbanner {display: block; clear: both; margin-bottom: 20px}
.f2cols {display: block; margin: 20px}

.leftcol {width: 100%; margin-bottom: 20px;}
.rightcol {width: 100%}

.gbl{margin-bottom: 60px;}
.homepg .gbl {margin-bottom: 0; padding-bottom: 60px}
.negate-above-gbl {margin-top: -60px;}
.banner-media {position: relative;width: 100%;}
.videoWrapper, .videoWrapper2 {width: 100%; overflow-x: hidden}
.videoWrapper iframe {width: 100vw;height: 56.15vw; max-width: 100%; background: #000;}
.videoWrapper2 iframe {width: 100vw;height: 51.25vw; max-width: 100%; background: #000;}

.cta{background-color: #000; border: 0; display: inline-block; min-width: 200px;text-align: center; color: #fff;padding: 10px 20px; font-size: 18px; letter-spacing: 0.1em;}
.ctawhite {display: table; min-width: 350px; height: 70px; margin: 0 auto; padding: 0 10px; line-height: 64px; vertical-align: middle; text-align: center; background: #fff; border: 2px solid #000; color: #000 !important; font-size: 16pt; font-weight: bold}
.ctawhite:hover {background: #000; color: #fff !important; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.ld2020 .cta {background-color: #b0e2e3; color: #000; font-weight: 600; min-width: 260px; height: 42px; line-height: 40px; padding: 0;}
.ld2020 .cta:hover {color: #fff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.ld2020 .width50 .ctawhite {min-width: 260px; height: 42px; line-height: 40px; font-size: 14px; background-color: #b0e2e3; border: 0px; }
.ctablue {display: table; margin: 0 auto; padding: 0 10px; vertical-align: middle; text-align: center; min-width: 260px; height: 42px; line-height: 40px; font-size: 14px; color: #000!important; background-color: #b0e2e3; border: 0px; }
.ctablue:hover {color: #fff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.txt-link{font-weight: 700; color: #999;}
.txt-link:hover{color: #000;}

.bg1{background-color: rgb(182, 182, 182);}
.bg2{background-color: rgb(209, 124, 124);}
.bg3{background-color: rgb(42, 252, 164);}


/*--- All Padding And Margin ---*/
.mt60 {margin-top: 60px;}
.mb80 {margin-bottom: 60px;}
.mb20 {margin-bottom: 20px;}
.mb40 {margin-bottom: 40px;}
.mb60 {margin-bottom: 40px;}
.clearfix{clear: both;}

.frame-space-before-extra-small{margin-top: 8px;}
.frame-space-after-extra-small {margin-bottom: 8px;}
.frame-space-before-small{margin-top: 15px;}
.frame-space-after-small {margin-bottom: 15px;}
.frame-space-before-medium{margin-top: 20px;}
.frame-space-after-medium {margin-bottom: 20px;}
.frame-space-before-large {margin-top: 30px;}
.frame-space-after-large{margin-bottom: 30px;}
.frame-space-before-extra-large{margin-top: 40px;}
.frame-space-after-extra-large {margin-bottom: 40px;}

.frame-space-before-extra-small:before, .frame-space-after-extra-small:after {height: 8px;}
.frame-space-before-small:before,.frame-space-after-small:after {height: 15px;}
.frame-space-before-medium:before, .frame-space-after-medium:after {height: 20px;}
.frame-space-before-large:before, .frame-space-after-large:after {height: 30px;}
.frame-space-before-extra-large:before, .frame-space-after-extra-large:after {height: 40px;}

.ce-uploads {margin: 0 0 17px; padding: 0 0 19px; list-style: none; text-align: center}
.ce-uploads li { padding: 7px 0 6px !important; text-align: left; font-size: 16px;}
.ce-uploads li::after {content:"\f019"; font-family: "FontAwesome"; font-size: 20px; margin-top: -25px; right: 10px; position: absolute;}

.video-embed {height: 338px; width: 100%;}
.video-embed .video-embed-item{max-width: 100%; max-height: 100%;}

.padleft {padding-left: 20px}
.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.frame-type-menu_sitemap {padding-top: 80px;}
.frame-type-menu_sitemap ul {display: flex; flex-wrap: wrap;}
.frame-type-menu_sitemap ul li {-ms-flex: 1 0 100%; flex: 1 0 100%;max-width: 100%; margin-top: 5px;}
.hero-video {background: url(''); display: table;overflow: hidden;height: 150px;background-position: center !important;width: 100vw;}
.banner-vid {top:0;padding-right: 10px; left: 50%;transform: translateX(-50%);position: fixed;z-index: -100;display: block;max-width: 100%;width: auto;height: auto;overflow: hidden;background-position: center !important;background-size: cover;background-repeat: no-repeat;}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .banner-vid {padding-right: 10px}
}

  @media (min-width: 600px) {
    .gbl{margin-bottom: 80px;}
    .homepg .gbl {margin-bottom: 0; padding-bottom: 80px}
    .negate-above-gbl {margin-top: -80px;}
    .video-embed {height: 432px;}
    .frame-type-menu_sitemap ul li {-ms-flex: 1 0 50%; flex: 1 0 50%; max-width: 50%;}
    .frame-type-menu_sitemap ul li ul {display: flex; flex-direction: column;}
    .frame-type-menu_sitemap ul li ul li {-ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
    .hero-video {height: 220px;}
    .videoWrapper2 iframe {height: 53.25vw}
  }
  
  @media (min-width: 768px) {
    
    body {font-size:15px;}
    h1 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 18px;
    }
    h2 {
        font-size: 18px;
        line-height: 21px;
    }
    h2.subtitle{
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
        line-height: 19px;
    }
    h4 {
        font-size: 15px;
        line-height: 18px;
    }
    
    .video-embed {height: 558px;}
    .footer p {font-size: 15px;}
    .fullbanner {margin-bottom: 40px}
    .f2cols {margin: 40px}
    .padleft {padding-left: 25px}
    .hero-video {height: 375px; }
    .banner-vid {min-height: 450px; top: 0;}
    .videoWrapper2 iframe {height: 54.25vw}
    /*
    .frame-space-before-extra-small, .frame-space-after-extra-small {height: 12px;}
    .frame-space-before-small,.frame-space-after-small {height: 18px;}
    .frame-space-before-medium, .frame-space-after-medium {height: 22px;}
    .frame-space-before-large, .frame-space-after-large {height: 30px;}
    .frame-space-before-extra-large, .frame-space-after-extra-large {height: 38px;}
    */
  }
  
  @media (min-width: 992px) {
    body {font-size:16px;}
    h1 {
        margin-bottom: 30px;
    }
    h2 {
        margin-bottom: 10px;
    }
    .ld2020 h1{font-size: 24px;line-height: 28px;margin-bottom: 20px;}
    .ld2020 h2{font-size: 20px;line-height: 24px;margin-bottom: 15px;}
    .ld2020 h3{font-size: 18px;line-height: 20px;margin-bottom: 15px;}
    .ld2020 p{font-size: 14px;}
    .footer p {font-size: 16px;}
    .video-embed {height: 576px;}
    .videoWrapper2 iframe {height: 53.25vw}
    .mb60 {margin-bottom: 60px;}
    .gbl{margin-bottom: 100px;}
    .homepg .gbl {margin-bottom: 0px; padding-bottom: 100px;}
    .negate-above-gbl {margin-top: -100px;}
    .ce-uploads li { text-align: center; font-size: 17px;}
    .padleft {padding-left: 30px}
    /*
    .frame-space-before-extra-small, .frame-space-after-extra-small {height: 15px;}
    .frame-space-before-small,.frame-space-after-small {height: 22px;}
    .frame-space-before-medium, .frame-space-after-medium {height: 30px;}
    .frame-space-before-large, .frame-space-after-large {height: 45px;}
    .frame-space-before-extra-large, .frame-space-after-extra-large {height: 60px;}
    */
    .frame-space-before-extra-small{margin-top: 10px;}
    .frame-space-after-extra-small {margin-bottom: 10px;}
    .frame-space-before-small{margin-top: 20px;}
    .frame-space-after-small {margin-bottom: 20px;}
    .frame-space-before-medium{margin-top: 30px;}
    .frame-space-after-medium {margin-bottom: 30px;}
    .frame-space-before-large {margin-top: 40px;}
    .frame-space-after-large{margin-bottom: 40px;}
    .frame-space-before-extra-large{margin-top: 60px;}
    .frame-space-after-extra-large {margin-bottom: 60px;}
    .ld2020 .width50 .ctawhite {position: absolute; bottom: 16px; font-size: 16px}
    
    .frame-type-menu_sitemap ul li {-ms-flex: 1 0 33%; flex: 1 0 33%; max-width: 33%; margin-top: 10px}
    .frame-type-menu_sitemap ul li ul li {margin-top: 5px}
  }
  @media (min-width: 1100px) {
    .hero-video {height: calc(100vh - 105px); }
    .banner-vid {min-height: calc(100vh - 100px); top: auto;}
  }
  
  @media (min-width: 1280px) {
    h1 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 21px;
        line-height: 23px;
    }
    h2.subtitle{
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
        line-height: 22px;
    }
    h4 {
        font-size: 16px;
        line-height: 20px;
    }
   .container {
        max-width:1200px; 
    }
    .video-embed {height: 810px;}
    .videoWrapper2 iframe {height: 51.25vw}
    .ld2020 h1{font-size: 30px;line-height: 36px;margin-bottom: 30px;}
    .ld2020 h2{font-size: 26px;line-height: 28px;margin-bottom: 20px;}
    .ld2020 h3{font-size: 22px;line-height: 26px;margin-bottom: 20px;}
    .ld2020 p{font-size: 16px;}
    /*
    .frame-space-before-extra-small, .frame-space-after-extra-small {height: 15px;}
    .frame-space-before-small,.frame-space-after-small {height: 30px;}
    .frame-space-before-medium, .frame-space-after-medium {height: 45px;}
    .frame-space-before-large, .frame-space-after-large {height: 60px;}
    .frame-space-before-extra-large, .frame-space-after-extra-large {height: 90px;}
    */
    .fullbanner {margin-bottom: 60px}
    .f2cols {display: table; margin: 60px 20px}
    .padleft {padding-left: 40px}
    .leftcol {float:left; padding-left: 60px; padding-right: 60px; margin-bottom: 0px; width: calc(100% - 770px);}
    .rightcol {float:right; width: 770px;}
    .ld2020 .width50 .ctawhite {font-size: 18px}
    .ctablue {font-size: 18px}
  }
  @media (min-width: 1350px) {
    .videoWrapper2 iframe {height: 48.25vw}
  }
   @media (min-width: 1440px) {
    h1 {
        margin-bottom: 50px;
    }
   .container {
        max-width:1400px; 
    }
    .video-embed {height: 900px;}
    .videoWrapper2 iframe {height: 50.5vw}
    .padleft {padding-left: 60px}
    .gbl{margin-bottom: 120px;}
    .homepg .gbl {margin-bottom: 0px; padding-bottom: 120px;}
    .negate-above-gbl {margin-top: -120px;}
    .frame-space-before-extra-small{margin-top: 20px;}
    .frame-space-after-extra-small {margin-bottom: 20px;}
    .frame-space-before-small{margin-top: 40px;}
    .frame-space-after-small {margin-bottom: 40px;}
    .frame-space-before-medium{margin-top: 60px;}
    .frame-space-after-medium {margin-bottom: 60px;}
    .frame-space-before-large {margin-top: 80px;}
    .frame-space-after-large{margin-bottom: 80px;}
    .frame-space-before-extra-large{margin-top: 100px;}
    .frame-space-after-extra-large {margin-bottom: 100px;}
    .ld2020 .width50 .ctawhite {bottom: 18px}
    .banner-vid {padding-right: 11px;}
  }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     .header .siteHeader .container {overflow-y: hidden;}
}
@supports (-ms-accelerator:true) {
  /* IE Edge 12+ CSS styles go here */ 
  .header .siteHeader .container {overflow-y: hidden;}
}
/*
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) and (min-width: 1440px) {
    .banner-vid {padding-right: 19px}
}
*/
 @media (min-width: 1600px) {
   .container {
        max-width:1600px; 
    }
    .videoWrapper2 iframe {height: 52.25vw}
  }
  
 @media (min-width: 1920px) {
   .container {
        max-width:1920px; 
    }
  }
