@font-face {font-family:"Helvetica Neue";src:url("../fonts/HelveticaNeue.eot?") format("eot"),url("../fonts/HelveticaNeue.woff") format("woff"),url("../fonts/HelveticaNeue.ttf") format("truetype"),url("../fonts/HelveticaNeue.svg") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Helvetica Neue Lt";src:url("../fonts/HelveticaNeue-Light.eot?") format("eot"),url("../fonts/HelveticaNeue-Light.woff") format("woff"),url("../fonts/HelveticaNeue-Light.ttf") format("truetype"),url("../fonts/HelveticaNeue-Light.svg") format("svg");font-weight:300;font-style:normal;}
@font-face {font-family:"Helvetica Neue Bd";src:url("../fonts/HelveticaNeue-Bold.eot?") format("eot"),url("../fonts/HelveticaNeue-Bold.woff") format("woff"),url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"),url("../fonts/HelveticaNeue-Bold.svg") format("svg");font-weight:600;font-style:normal;}

*, *::before, *::after{
    -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
html, body {
    font-family: 'HelveticaNeueW01-45Ligh','HelveticaNeueW01-Thin','Helvetica Neue Lt','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 17px;
    color:#000; 
    font-weight:400; 
    line-height: 1.43;
    padding:0;
    margin:0px; 
    height:100%; 
    background: #fff; 
    overflow: auto;
}

body {
    overflow-x: hidden; 
}

h1, h2, h3, h4, h5, h6, .h1, 
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'HelveticaNeueW01-85Heav','Helvetica Neue Bd', 'Helvetica Neue', Helvetica, Arial;
    font-weight: 400; line-height: 1.2; color: #000;
    text-transform: uppercase; padding:0px; margin: 0px; 
    position: relative; 
    
}
h1 {
    font-size: 30px;
    line-height: 36px;
}
h2 {
    font-size: 21px;
    line-height: 23px;
}
h2.subtitle{
    font-weight: 300; padding-top: 10px; text-transform: inherit; font-size: 24px;
    font-family: 'HelveticaNeueW01-45Ligh','Helvetica NeueW01-Thin',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h4 {
    font-size: 20px;
    line-height: 23px;
}


::-webkit-input-placeholder {color:#000; opacity: 1;}
::-moz-placeholder {color:#000; opacity: 1;}
:-ms-input-placeholder {color:#000; opacity: 1;}
:-moz-placeholder {color:#000; opacity: 1;}

html.mm-blocking{
    overflow: visible;
}

input{max-width: 100%;}

blockquote{margin: 0;}

img{
    display: inline-block;
    height: auto;
    width: 100%;
}

p {margin: 0 0 20px; line-height:28px; font-family: 'HelveticaNeueW01-45Ligh','HelveticaNeueW01-Thin',"Helvetica Neue Lt","Helvetica Neue",Helvetica,Arial,sans-serif;}

hr {border: 1px solid #ddd; margin:25px 0;}

a {color:#000; text-decoration:none;}
a:hover {color:#999; text-decoration:none;}
a:focus {text-decoration:none; outline: none;}

a {
    -webkit-transition: ease-out 0.3s; -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s; transition: ease-out 0.3s;
    }
a:hover {
    -webkit-transition: ease-out 0s; -moz-transition: ease-out 0s;
    -o-transition: ease-out 0s; transition: ease-out 0s;
    }

label {font-weight:normal;}

.bootstrap-tagsinput {margin-bottom:0px;}

.label-info {background-color: #b32017;}

.label {font-size:18px; font-weight:normal;}

.bootstrap-tagsinput .tag {margin:2px; display:inline-block;}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none; outline-offset:0px;  
    outline: 0px auto -webkit-focus-ring-color;
}


.form-control:focus{box-shadow: inherit;}

.wrapper{   
    padding:0px 0 0; margin:0px auto; position: relative;
    width:100%; height:100%; z-index: 3;
    max-width: 1600px;
    }
.container {
    max-width:1000px; 
    width:100%; 
    position:relative;
}

.wrapper:after, 
.container:after, 
.gbl:after{
    display: table; 
    clear: both; content: "";
}

.gbl{margin-bottom: 120px;}

.cta{
    background-color: #000;
    display: inline-block; min-width: 200px;
    text-align: center; color: #fff;
    padding: 10px 20px; font-size: 18px; letter-spacing: 0.1em;
}
.txt-link{font-weight: 700; color: #999;}
.txt-link:hover{color: #000;}

.bg1{background-color: rgb(182, 182, 182);}
.bg2{background-color: rgb(209, 124, 124);}
.bg3{background-color: rgb(42, 252, 164);}


/*--- All Padding And Margin ---*/
.mt60 {margin-top: 60px;}
.mb80 {margin-bottom: 60px;}

.clearfix{clear: both;}

.frame-space-before-extra-small, .frame-space-after-extra-small {height: 10px;}
.frame-space-before-small,.frame-space-after-small {height: 15px;}
.frame-space-before-medium, .frame-space-after-medium {height: 20px;}
.frame-space-before-large, .frame-space-after-large {height: 30px;}
.frame-space-before-extra-large, .frame-space-after-extra-large {height: 40px;}

  @media (min-width: 600px) {
    
  }
  
  @media (min-width: 768px) {
    body {font-size:16px;}
    .footer p {font-size: 16px;}
    
    .frame-space-before-extra-small, .frame-space-after-extra-small {height: 15px;}
    .frame-space-before-small,.frame-space-after-small {height: 25px;}
    .frame-space-before-medium, .frame-space-after-medium {height: 30px;}
    .frame-space-before-large, .frame-space-after-large {height: 40px;}
    .frame-space-before-extra-large, .frame-space-after-extra-large {height: 50px;}
  }
  
  @media (min-width: 992px) {
    
    .frame-space-before-extra-small, .frame-space-after-extra-small {height: 20px;}
    .frame-space-before-small,.frame-space-after-small {height: 30px;}
    .frame-space-before-medium, .frame-space-after-medium {height: 40px;}
    .frame-space-before-large, .frame-space-after-large {height: 60px;}
    .frame-space-before-extra-large, .frame-space-after-extra-large {height: 80px;}
  }
  
  @media (min-width: 1280px) {
   .container {
        max-width:1200px; 
    }
    
    .frame-space-before-extra-small, .frame-space-after-extra-small {height: 20px;}
    .frame-space-before-small,.frame-space-after-small {height: 40px;}
    .frame-space-before-medium, .frame-space-after-medium {height: 60px;}
    .frame-space-before-large, .frame-space-after-large {height: 80px;}
    .frame-space-before-extra-large, .frame-space-after-extra-large {height: 120px;}
  }
  
   @media (min-width: 1440px) {
   .container {
        max-width:1400px; 
    }
  }
  
 @media (min-width: 1600px) {
   .container {
        max-width:1600px; 
    }
  }
  
 @media (min-width: 1920px) {
   .container {
        max-width:1920px; 
    }
  }