.align-center {text-align: center}
.align-left {text-align: left}
.align-right {text-align: right}
.header{position: relative; margin-top: 5px;}
.ce-center {text-align: center;}
.top-search.mob-search{display: none;}
.top-search{width: 300px; position: relative; float: right; margin: 60px -40px 0 0;}
.top-search .form-group{margin-bottom: 0px;}
.top-search .form-control{
    padding: 10px 40px 10px 5px; border:0; position: relative;  background: transparent;
    border-bottom: 1px solid #ccc; border-radius: 0px; z-index: 2;    
}
.top-search .form-control ~ label {
    position: absolute; padding-left: 5px; left: 0; z-index: 1; top: 7px;
    -webkit-transition: all .3s; -o-transition: all .3s; transition: all .3s;
}
.top-search .form-control:focus ~ label{font-size: 10px !important; top: -10px !important; color: #999;}

.top-search .form-group button{
    position: absolute; right: 0px; top: 0px; padding: 7px 12px 8px; z-index: 9;
    border: 0px; outline: none; background-color: transparent; cursor: pointer;    
}
.logo{float: right; padding-bottom: 10px;}
.logo img {width:100px;}
.slide-image {position: relative}
.image-caption {font-weight: 600; margin-top: 10px}
.image-modulebox .image-caption, .slide-image .image-caption {position: absolute; left: 15%; z-index: -1; top: 20%;}
.roundimg .image-caption {color: #fff; position: absolute; z-index: -1; top: 20%}
.image-modulebox .showcaption .image-caption, .showcaption .image-caption {color: #000; position: inherit; top: initial; z-index: initial}
.landing-header {margin-top: 10px}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     .logo img {width:100px; height: 99px}
}
@supports (-ms-accelerator:true) {
  /* IE Edge 12+ CSS styles go here */ 
  .logo img {width:100px; height: 99px}
}

.toplang {float: right;padding-right: 20px;margin-bottom: 0px;margin-top: 10px;}
.toplang a:first-child {margin-right: 8px;}
.banner{position: relative;}

.introTxt h2{padding-bottom: 40px;}
.introTxt p:last-child{margin-bottom: 0px !important;}

.image-module{position: relative;}
.image-module h2{margin-top: 80px; margin-bottom: 30px; text-align: center;}
.image-module .image-modulebox{margin-bottom: 80px;}
.image-module .img-block{position: relative; display: block;}
.image-module .img-block .img-box-link{position: relative; display: block;}
.image-module .img-block .img-box-link:hover .module-content { background-color: rgba(255,255,255,0.8);} 
.module-content-tablecell:hover {background-color: rgba(255,255,255,0.8);}

.module-content {
    position: relative; bottom: inherit; left: inherit; width: 100%;
    height: inherit; padding: 30px 0 0; background-color: rgba(255,255,255,0.6);
    text-align: center; display: inline-block; opacity: 1; transition: opacity .2s ease;
    -webkit-transition: opacity .2s ease; -o-transition: opacity .2s ease;    
}
.module-content .module-content-tablecell h2{margin-top: 0px;}

.swiper-container {width: 100%; height: 100%; margin-left: auto; margin-right: auto;}
.swiper-slide {
    text-align: center; font-size: 18px; background: #fff; display: block;
    /* Center slide text vertically */  
    -webkit-box-pack: center; -ms-flex-pack: center;
    -webkit-justify-content: center; justify-content: center;
    -webkit-box-align: center; -ms-flex-align: center;
    -webkit-align-items: center; align-items: center;
}

.swiper-button-next, .swiper-button-prev{
    background-color: rgba(255, 255, 255, 0.8); width: 51px;
    padding: 100px 20px; background-image:none; margin-top: 0px;
  	-webkit-transform: translateY(-79%);
  	-ms-transform: translateY(-79%);
  	transform: translateY(-79%);
}
.swiper-button-next{right: 0px;}
.swiper-button-prev{left: 0px;}
.swiper-button-next:before, 
.swiper-button-prev:before {
    font: normal normal normal 14px/1 FontAwesome; text-rendering: auto;    
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    top: 50%; transform: translateY(-50%); display: inline-block;
    -webkit-transform: translateY(-50%); -ms-transform:translateY(-50%);
}
  
.swiper-button-next:before {content: "\f178";}
.swiper-button-prev:before {content: "\f177";}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {opacity: 0!important;}

.testimonial .swiper-pagination-bullet {width: 12px; height: 12px; border: 1px #000 solid;background:transparent; opacity: 1.0}
.testimonial .swiper-pagination-bullet-active {background: #000}

.service .service-txt{margin-bottom: 80px; text-align: center;}
.service .service-txt h2{padding-bottom: 70px;}

.contact .contact-form .form-group {margin-bottom: 20px;}
.contact .contact-form .col-form-label{font-weight: 700;}
.contact .contact-form .form-control{border-radius: 0px; height: 40px;}
.contact .contact-form textarea.form-control{height: auto;}
.contact .contact-form .form-control:focus {box-shadow: transparent; border-color: rgb(206, 212, 218);}

.footer{
    position: relative; padding: 10px 0;
    border-top: 1px solid #000; 
}
.footer h4{margin-bottom: 10px; margin-top: 30px;}
.footer p {font-family: 'HelveticaNeueW01-45Ligh','HelveticaNeueW01-Thin',"Helvetica Neue Lt","Helvetica Neue",Helvetica,Arial,sans-serif;}
.footer address{margin-bottom: 15px;}
.footer .contact{margin-bottom: 15px;}
.footer .contact p{margin-bottom: 5px;}
.footer .foot-nav{padding: 0px; margin: 0px; list-style: none;}
.footer .foot-nav li{padding: 3px 0;  font-family: 'HelveticaNeueW01-45Ligh','HelveticaNeueW01-Thin',"Helvetica Neue Lt","Helvetica Neue",Helvetica,Arial,sans-serif;}

.footer .news-list{padding: 0px; margin: 0px; list-style: none;}
.footer .news-list li{padding: 5px 0 20px; overflow: hidden; font-family: 'HelveticaNeueW01-45Ligh','HelveticaNeueW01-Thin',"Helvetica Neue Lt","Helvetica Neue",Helvetica,Arial,sans-serif;}
.footer .news-list li p{ font-size: 14px; line-height: 18px; margin-bottom: 5px;}

.sub-footer{position: relative; padding: 0 0 50px;}
.sub-footer .foot-nav{padding: 0px; margin: 0px; list-style: none;}
.sub-footer .foot-nav li{padding: 6px 12px 6px 0px; float: left;}

.sub-footer .search-form{width: 100%; position: relative;}
.sub-footer .search-form .form-group{margin-bottom: 0px;}
.sub-footer .search-form .form-control{
    padding: 15px 40px 15px 15px; border:0; position: relative;
    z-index: 2; color: #fff;  background: #000; height: 40px;
}
.sub-footer .search-form .form-group button{
    position: absolute; right: 0px; top: 0px; padding: 9px 15px 9px; z-index: 9; color: #fff;
    border: 0px; outline: none; background-color: transparent; cursor: pointer; 
      
}

.sub-footer .col-12 {margin-bottom: 20px;}

.language-menu {padding: 0px; margin: 0px; list-style: none;}
.language-menu li {padding: 6px 12px 6px 0px; float: left;}

.social-wrap {margin-top: 5px;}
.share {background-image: url(../Images/sprite.png);background-repeat: no-repeat;width: 160px;height: 103px;float: left;overflow: hidden;cursor: pointer;display: inline-block;position: relative;}
.share.fb {background-position: 0 0;width: 51px;height: 51px;float: none;overflow: hidden;display: inline-block;margin-right: 15px;}
.share.fb:hover{background-position: -160px 0;}
.share.yt {background-position: 0 -330px;width: 51px;height: 51px;float: none;overflow: hidden;display: inline-block;margin-right: 15px;}
.share.yt:hover{background-position: -160px -330px;}
.share.pinterest {background-position: 0 -110px;width: 51px;height: 51px;float: none;overflow: hidden;display: inline-block;margin-right: 15px;}
.share.pinterest:hover{background-position: -160px -110px;}
.share.instagram {background-position: 0 -990px;width: 51px;height: 51px;float: none;overflow: hidden;display: inline-block;margin-right: 15px;}
.share.instagram:hover{background-position: -160px -990px;}

a.share {
    -webkit-transition: ease-out 0s; -moz-transition: ease-out 0s;
    -o-transition: ease-out 0s; transition: ease-out 0s;
    }
a.share:hover {
    -webkit-transition: ease-out 0s; -moz-transition: ease-out 0s;
    -o-transition: ease-out 0s; transition: ease-out 0s;
    }
    
.gbl .gbl {margin-bottom: 0px!important;}
.eightimgcontainer {width: 100%; display: flex; flex-wrap: wrap; margin-left: -5px;}
.eightimgcontainer img {max-width: 100%; height: auto;}
.eightimgcontainer .image-caption {text-align: center}
.eightimgcontainer .caption{font-weight: 600; text-align: center; line-height: 2.0;}
.ld2020 .eightimgcontainer .caption {font-weight: 400; text-align: left; line-height: 1.4;}

/*
.eightimgcontainer .twoimages {width: 50%; padding-right: 5px;}
.eightimgcontainer .twoimages:last-child {padding-right: 0px; padding-left: 5px;}
.eightimgcontainer .threeimages {width: 50%; padding-right: 5px;}
.eightimgcontainer .threeimages:nth-child(even) {padding-right: 0px; padding-left: 5px;}
.eightimgcontainer .fourimages {width: 50%; padding-right: 5px;}
.eightimgcontainer .fourimages:nth-child(even) {padding-right: 0px; padding-left: 5px;}
.eightimgcontainer .fiveimages {width: 50%; padding-right: 5px;}
.eightimgcontainer .fiveimages:nth-child(even) {padding-right: 0px; padding-left: 5px;}
.eightimgcontainer .siximages {width: 50%; padding-right: 5px;}
.eightimgcontainer .siximages:nth-child(even) {padding-right: 0px; padding-left: 5px;}
.eightimgcontainer .sevenimages {width: 50%; padding-right: 5px;}
.eightimgcontainer .sevenimages:nth-child(even) {padding-right: 0px; padding-left: 5px;}
.eightimgcontainer .eightimages {width: 50%; padding-right: 5px;}
.eightimgcontainer .eightimages:nth-child(even) padding-right: 0px; padding-left: 5px;}
*/

.eightimgcontainer .twoimages {width: 50%; padding-left: 5px;}
.eightimgcontainer .threeimages {width: 50%; padding-left: 5px;}
.eightimgcontainer .fourimages {width: 50%; padding-left: 5px;}
.eightimgcontainer .fiveimages {width: 50%; padding-left: 5px;}
.eightimgcontainer .siximages {width: 50%; padding-left: 5px;}
.eightimgcontainer .sevenimages {width: 50%; padding-left: 5px;}
.eightimgcontainer .eightimages {width: 50%; padding-left: 5px;}

ul.tx-indexedsearch-browsebox {padding: 0px; margin: 0px; list-style: none; height: 30px}
ul.tx-indexedsearch-browsebox li {padding: 5px 10px 5px 0px; float: left;}
.tx-indexedsearch-res {margin-top: 20px}

.flexwrap {width: 100%; display: flex; flex-direction: column;}
.width50 {width: 100%; flex:0 0 auto; padding: 10px};
.width50 h1, .width50 h2, .width50 h3 {margin-top: 15px}
.width50 img {max-width: 100%; height: auto}
.width50 .ctawhite,.ctablue {margin-top: 15px;}
.roundimg {width: 150px;height: 150px;position: relative;margin: 10px auto;}
.roundimg img {width: 100%;height: 100%;border-radius: 75px;}
.testimonial .text {margin-bottom: 40px;}
.ce-gallery .ce-row {display: flex; flex-wrap: wrap}
.ce-gallery[data-ce-columns="2"] .ce-row .ce-column{-ms-flex: 0 0 100%;flex: 0 0 100%; max-width: 100%}
.ce-gallery[data-ce-columns="3"] .ce-row .ce-column{-ms-flex: 0 0 100%;flex: 0 0 100%; max-width: 100%}
.ce-gallery[data-ce-columns="4"] .ce-row .ce-column{-ms-flex: 0 0 100%;flex: 0 0 100%; max-width: 100%}
.ce-gallery[data-ce-columns="5"] .ce-row .ce-column{-ms-flex: 0 0 100%;flex: 0 0 100%; max-width: 100%}
.ce-gallery[data-ce-columns="6"] .ce-row .ce-column{-ms-flex: 0 0 100%;flex: 0 0 100%; max-width: 100%}
.ce-gallery[data-ce-columns="7"] .ce-row .ce-column{-ms-flex: 0 0 100%;flex: 0 0 100%; max-width: 100%}
.ce-gallery[data-ce-columns="8"] .ce-row .ce-column{-ms-flex: 0 0 100%;flex: 0 0 100%; max-width: 100%}
.ce-gallery[data-ce-columns="9"] .ce-row .ce-column{-ms-flex: 0 0 100%;flex: 0 0 100%; max-width: 100%}
.ce-gallery[data-ce-columns="10"] .ce-row .ce-column{-ms-flex: 0 0 100%;flex: 0 0 100%; max-width: 100%}

@media screen and (max-width: 1100px) {
    .image-module h2{margin-top: 30px;}
}

@media screen and (max-width: 1100px) {
    .top-search {display: none;}
    .top-search.mob-search{display: block; width: 100%; margin: 20px 0 0 0;}
    .top-search .form-control{padding-left:15px; color: #000; border-bottom-color: #cccccc;}
    .top-search .form-control ~ label{padding-left:15px;}
    .top-search .form-group button{padding: 7px 15px 10px;}    
}
@media (min-width: 600px) {
    /* .contact .contact-form .form-group {margin-bottom: 30px;} */
    .swiper-button-next, .swiper-button-prev{
  	-webkit-transform: translateY(-70%);
  	-ms-transform: translateY(-70%);
  	transform: translateY(-70%);
    }
    
    .width50 .ctawhite, .ctablue {margin-top: 20px;}
}
@media (min-width: 600px) and (orientation: landscape) {
    .ce-gallery[data-ce-columns="2"] .ce-row .ce-column{-ms-flex: 0 0 50%;flex: 0 0 50%; max-width: 50%}
    .ce-gallery[data-ce-columns="3"] .ce-row .ce-column{-ms-flex: 0 0 33.3%;flex: 0 0 33.3%; max-width: 33.3%}
    .ce-gallery[data-ce-columns="4"] .ce-row .ce-column{-ms-flex: 0 0 50%;flex: 0 0 50%; max-width: 50%}
    .ce-gallery[data-ce-columns="5"] .ce-row .ce-column{-ms-flex: 0 0 33.3%;flex: 0 0 33.3%; max-width: 33.3%}
    .ce-gallery[data-ce-columns="6"] .ce-row .ce-column{-ms-flex: 0 0 33.3%;flex: 0 0 33.3%; max-width: 33.3%}
    .ce-gallery[data-ce-columns="7"] .ce-row .ce-column{-ms-flex: 0 0 33.3%;flex: 0 0 33.3%; max-width: 33.3%}
    .ce-gallery[data-ce-columns="8"] .ce-row .ce-column{-ms-flex: 0 0 33.3%;flex: 0 0 33.3%; max-width: 33.3%}
    .ce-gallery[data-ce-columns="9"] .ce-row .ce-column{-ms-flex: 0 0 33.3%;flex: 0 0 33.3%; max-width: 33.3%}
    .ce-gallery[data-ce-columns="10"] .ce-row .ce-column{-ms-flex: 0 0 33.3%;flex: 0 0 33.3%; max-width: 33.3%}
}
@media (min-width: 768px) {
    .ce-gallery[data-ce-columns="4"] .ce-row .ce-column{-ms-flex: 0 0 25%;flex: 0 0 25%; max-width: 25%}
    .ce-gallery[data-ce-columns="5"] .ce-row .ce-column{-ms-flex: 0 0 25%;flex: 0 0 25%; max-width: 25%}
    .ce-gallery[data-ce-columns="6"] .ce-row .ce-column{-ms-flex: 0 0 25%;flex: 0 0 25%; max-width: 25%}
    .ce-gallery[data-ce-columns="7"] .ce-row .ce-column{-ms-flex: 0 0 25%;flex: 0 0 25%; max-width: 25%}
    .ce-gallery[data-ce-columns="8"] .ce-row .ce-column{-ms-flex: 0 0 25%;flex: 0 0 25%; max-width: 25%}
    .ce-gallery[data-ce-columns="9"] .ce-row .ce-column{-ms-flex: 0 0 25%;flex: 0 0 25%; max-width: 25%}
    .ce-gallery[data-ce-columns="10"] .ce-row .ce-column{-ms-flex: 0 0 25%;flex: 0 0 25%; max-width: 25%}
}
@media (min-width: 992px){
    .flexwrap {flex-direction: row; }
    .width50 {max-width: 50%; padding: 0px; flex: 0 0 50%;}
    .width50 h1, .width50 h2, .width50 h3 {margin-top: 70px}
    .indentleft {padding-left: 20px;}
    .image-caption{margin-top: 15px}
    /*
    .eightimgcontainer .twoimages {padding-right: 10px}
    .eightimgcontainer .twoimages:last-child {padding-left: 10px}
    .eightimgcontainer .threeimages {width: 33.3%; padding-right: 10px}
    .eightimgcontainer .threeimages:nth-child(even) {padding-left: 0px; padding-right: 10px}
    .eightimgcontainer .threeimages:last-child {padding-left: 10px;}
    .eightimgcontainer .fourimages {width: 25%; padding-right: 10px}
    .eightimgcontainer .fourimages:nth-child(even) {padding-left: 0px; padding-right: 10px}
    .eightimgcontainer .fourimages:last-child {padding-left: 10px;}
    .eightimgcontainer .fiveimages {width: 20%; padding-right: 10px}
    .eightimgcontainer .fiveimages:nth-child(even) {padding-left: 0px; padding-right: 10px}
    .eightimgcontainer .fiveimages:last-child {padding-left: 10px;}
    .eightimgcontainer .siximages {width: 16.66%; padding-right: 8px}
    .eightimgcontainer .siximages:nth-child(even) {padding-left: 0px; padding-right: 8px}
    .eightimgcontainer .siximages:last-child {padding-left: 8px;}
    .eightimgcontainer .sevenimages {width: 14.2%; padding-right: 7px}
    .eightimgcontainer .sevenimages:nth-child(even) {padding-left: 0px; padding-right: 7px}
    .eightimgcontainer .sevenimages:last-child {padding-left: 7px;}
    .eightimgcontainer .eightimages {width: 25%; padding-right: 10px}
    .eightimgcontainer .eightimages:nth-child(even) {padding-left: 0px; padding-right: 10px}
    .eightimgcontainer .eightimages:nth-child(4n+4) {padding-left: 10px; padding-right: 0px}
    */
    .eightimgcontainer {margin-left: -10px;}
    .eightimgcontainer .twoimages {padding-left: 10px;}
    .eightimgcontainer .threeimages {width: 33.3%; padding-left: 10px;}
    .eightimgcontainer .fourimages {width: 25%; padding-left: 10px;}
    .eightimgcontainer .fiveimages {width: 20%; padding-left: 10px;}
    .eightimgcontainer .siximages {width: 16.66%; padding-left: 10px;}
    .eightimgcontainer .sevenimages {width: 14.2%; padding-left: 10px;}
    .eightimgcontainer .eightimages {width: 25%; padding-left: 10px;}

    .swiper-button-next, .swiper-button-prev{
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
    }
    .swiper-slide {display: flex; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex;}
    .testimonial .swiper-slide {display: block; margin-bottom: 40px;}
    .testimonial .swiper-pagination-bullets {bottom: 0px;}
    .module-content {
        position: absolute; bottom: 35px; left: 50%; height: 160px;
        margin-left: -296px; width: 594px; padding: 0; text-align: center;
        display: table; background-color: rgba(255,255,255,0.78); opacity: 1;
        -webkit-transition: opacity .2s ease; -o-transition: opacity .2s ease;
        transition: opacity .2s ease;
    }
    .module-content .module-content-tablecell {
        display: table-cell; vertical-align: middle;
        padding-left: 35px; padding-right: 35px; text-align: center;
    }
    .module-content .module-content-tablecell h2{margin-top: 0px;}

    .image-module .image-modulebox{margin-bottom: 120px;}
    
    .introTxt h1 + h3{
        padding-bottom: 70px;
    }
    .introTxt h1 ~ h3{
        padding-bottom: 70px;
    }
    
    .introTxt h2 ~ h3{
        padding-bottom: 70px;
    }
    .introTxt h2 + h3{
        padding-bottom: 70px;
    }

    .footer {        
        padding: 80px 0;        
    }
    .sub-footer{padding: 0 0 80px;}
    .footer h4{margin-bottom: 10px; margin-top: 0px;}
    
}

@media (min-width: 1280px) {
    .toplang a:first-child {margin-right: 10px;}
    /*
    .eightimgcontainer .eightimages {width: 12.5%; padding-right: 5px}
    .eightimgcontainer .eightimages:nth-child(even) {padding-left: 0px; padding-right: 5px}
    .eightimgcontainer .eightimages:nth-child(4n+4) {padding-left: 0px; padding-right: 5px}
    .eightimgcontainer .eightimages:last-child {padding-left: 5px; padding-right: 0px}
    */
    .eightimgcontainer .eightimages {width: 12.5%;}
    .tx-indexedsearch-res {margin-top: 40px}
    .width50 .ctawhite, .ctablue {margin-top: 30px;}
    .roundimg {margin: 20px auto;}
    .testimonial .text {margin-bottom: 40px;}
    .indentleft {padding-left: 40px;}
    .image-caption{margin-top: 20px}
    .ce-gallery[data-ce-columns="5"] .ce-row .ce-column{-ms-flex: 0 0 20%;flex: 0 0 20%; max-width: 20%}
    .ce-gallery[data-ce-columns="6"] .ce-row .ce-column{-ms-flex: 0 0 20%;flex: 0 0 20%; max-width: 20%}
    .ce-gallery[data-ce-columns="7"] .ce-row .ce-column{-ms-flex: 0 0 20%;flex: 0 0 20%; max-width: 20%}
    .ce-gallery[data-ce-columns="8"] .ce-row .ce-column{-ms-flex: 0 0 20%;flex: 0 0 20%; max-width: 20%}
    .ce-gallery[data-ce-columns="9"] .ce-row .ce-column{-ms-flex: 0 0 20%;flex: 0 0 20%; max-width: 20%}
    .ce-gallery[data-ce-columns="10"] .ce-row .ce-column{-ms-flex: 0 0 20%;flex: 0 0 20%; max-width: 20%}
}
@media (min-width: 1352px) {
    .eightimgcontainer {width: 101%;}
    .ce-gallery[data-ce-columns="6"] .ce-row .ce-column{-ms-flex: 0 0 16.6%;flex: 0 0 16.6%; max-width: 16.6%}
    .ce-gallery[data-ce-columns="7"] .ce-row .ce-column{-ms-flex: 0 0 25%;flex: 0 0 25%; max-width: 25%}
    .ce-gallery[data-ce-columns="8"] .ce-row .ce-column{-ms-flex: 0 0 25%;flex: 0 0 25%; max-width: 25%}
    .ce-gallery[data-ce-columns="9"] .ce-row .ce-column{-ms-flex: 0 0 20%;flex: 0 0 20%; max-width: 20%}
    .ce-gallery[data-ce-columns="10"] .ce-row .ce-column{-ms-flex: 0 0 20%;flex: 0 0 20%; max-width: 20%}
}
@media (min-width: 1440px) {
    /*
    .eightimgcontainer .twoimages {padding-right: 15px}
    .eightimgcontainer .twoimages:last-child {padding-left: 15px}
    .eightimgcontainer .threeimages {padding-right: 15px}
    .eightimgcontainer .threeimages:nth-child(even) {padding-right: 15px}
    .eightimgcontainer .threeimages:last-child {padding-left: 15px;}
    .eightimgcontainer .fourimages {padding-right: 15px}
    .eightimgcontainer .fourimages:nth-child(even) {padding-right: 15px}
    .eightimgcontainer .fourimages:last-child {padding-left: 15px;}
    .eightimgcontainer .fiveimages {padding-right: 15px}
    .eightimgcontainer .fiveimages:nth-child(even) {padding-right: 15px}
    .eightimgcontainer .fiveimages:last-child {padding-left: 15px;}
    .eightimgcontainer .siximages {padding-right: 12px}
    .eightimgcontainer .siximages:nth-child(even) {padding-right: 12px}
    .eightimgcontainer .siximages:last-child {padding-left: 12px;}
    .eightimgcontainer .sevenimages {padding-right: 10px}
    .eightimgcontainer .sevenimages:nth-child(even) {padding-right: 10px}
    .eightimgcontainer .sevenimages:last-child {padding-left: 10px;}
    */
    .eightimgcontainer {margin-left: -15px;}
    .eightimgcontainer .twoimages {padding-left: 15px;}
    .eightimgcontainer .threeimages {padding-left: 15px;}
    .eightimgcontainer .fourimages {padding-left: 15px;}
    .eightimgcontainer .fiveimages {padding-left: 15px;}
    .eightimgcontainer .siximages {padding-left: 15px;}
    .eightimgcontainer .sevenimages {padding-left: 15px;}
    .eightimgcontainer .eightimages {padding-left: 15px;}
    
    .width50 h1, .width50 h2, .width50 h3 {margin-top: 120px}
}

@media (min-width: 1600px) {
    /*
    .eightimgcontainer .twoimages {padding-right: 20px}
    .eightimgcontainer .twoimages:last-child {padding-left: 20px}
    .eightimgcontainer .threeimages {padding-right: 20px}
    .eightimgcontainer .threeimages:nth-child(even) {padding-right: 20px}
    .eightimgcontainer .threeimages:last-child {padding-left: 20px;}
    .eightimgcontainer .fourimages {padding-right: 20px}
    .eightimgcontainer .fourimages:nth-child(even) {padding-right: 20px}
    .eightimgcontainer .fourimages:last-child {padding-left: 20px;}
    .eightimgcontainer .siximages {padding-right: 15px}
    .eightimgcontainer .siximages:nth-child(even) {padding-right: 15px}
    .eightimgcontainer .siximages:last-child {padding-left: 15px;}
    .eightimgcontainer .eightimages {padding-right: 10px}
    .eightimgcontainer .eightimages:nth-child(even) {padding-left: 0px; padding-right: 10px}
    .eightimgcontainer .eightimages:nth-child(4n+4) {padding-left: 0px; padding-right: 10px}
    .eightimgcontainer .eightimages:last-child {padding-left: 10px; padding-right: 0px}
    */
    .eightimgcontainer {margin-left: -20px;}
    .eightimgcontainer .twoimages {padding-left: 20px;}
    .eightimgcontainer .threeimages {padding-left: 20px;}
    .eightimgcontainer .fourimages {padding-left: 20px;}
    .eightimgcontainer .fiveimages {padding-left: 20px;}
    .eightimgcontainer .siximages {padding-left: 20px;}
    .eightimgcontainer .sevenimages {padding-left: 20px;}
    .eightimgcontainer .eightimages {padding-left: 20px;}
    .width50 h1, .width50 h2, .width50 h3 {margin-top: 200px}
    .width50 .ctawhite, .ctablue{margin-top: 40px;}
    .indentleft {padding-left: 80px;}
    .image-caption{margin-top: 40px}
}

@media (min-width: 1920px) {
    .width50 h1, .width50 h2, .width50 h3 {margin-top: 240px}
    .ce-gallery[data-ce-columns="7"] .ce-row .ce-column{-ms-flex: 0 0 14.2%;flex: 0 0 14.7%; max-width: 14.2%}
    .ce-gallery[data-ce-columns="8"] .ce-row .ce-column{-ms-flex: 0 0 12.5%;flex: 0 0 12.5%; max-width: 12.5%}
    .ce-gallery[data-ce-columns="9"] .ce-row .ce-column{-ms-flex: 0 0 11.1%;flex: 0 0 11.1%; max-width: 11.1%}
    .ce-gallery[data-ce-columns="10"] .ce-row .ce-column{-ms-flex: 0 0 10%;flex: 0 0 10%; max-width: 10%}
}