<!-- Footer Section -->
<footer class="footer">
    <f:cObject typoscriptObjectPath="lib.footerCMS" />
</footer>
<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 footer-social">
                <h4>Follow us</h4>
                <f:cObject typoscriptObjectPath="lib.navShare" />
            </div>
            <div class="col-12 col-md-8">
                <f:cObject typoscriptObjectPath="lib.footerMenu" />
            </div>
        </div>
    </div>
</div>
<!-- End -->