<!-- Footer Section -->
<footer class="footer">
    <f:cObject typoscriptObjectPath="lib.footerCMS" />
</footer>
<div class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 footer-social">
                <h4><f:translate key="follow" extensionName="armtpl" /></h4>
                <div class="social-wrap">
                    <f:cObject typoscriptObjectPath="lib.navShare" />
                </div>
            </div>
            <div class="col-12 col-md-5">
                <h4><f:translate key="links" extensionName="armtpl" /></h4>
                <f:cObject typoscriptObjectPath="lib.footerMenu" />
            </div>
            <div class="col-12 col-md-3">
                <h4><f:translate key="language" extensionName="armtpl" /></h4>
                <f:cObject typoscriptObjectPath="lib.language" />
            </div>
        </div>
    </div>
</div>
<!-- End -->