<div class="container">
<f:if condition="{data.flexform_field_imgcnt}==2">
    <div class="eightimgcontainer">
        <div class="twoimages">
            <f:if condition="{data.flexform_field_imgone}">
                <f:if condition="{data.flexform_field_linkone}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkone}"><img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>                
            </f:if>
        </div>
        <div class="twoimages">
            <f:if condition="{data.flexform_field_imgtwo}">
                <f:if condition="{data.flexform_field_linktwo}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linktwo}"><img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
    </div>
</f:if>
<f:if condition="{data.flexform_field_imgcnt}==3">
    <div class="eightimgcontainer">
        <div class="threeimages">
            <f:if condition="{data.flexform_field_imgone}">
                <f:if condition="{data.flexform_field_linkone}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkone}"><img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                           <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="threeimages">
            <f:if condition="{data.flexform_field_imgtwo}">
                <f:if condition="{data.flexform_field_linktwo}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linktwo}"><img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="threeimages">
            <f:if condition="{data.flexform_field_imgthree}">
                <f:if condition="{data.flexform_field_linkthree}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkthree}"><img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>                
            </f:if>
        </div>
    </div>
</f:if>
<f:if condition="{data.flexform_field_imgcnt}==4">
    <div class="eightimgcontainer">
        <div class="fourimages">
            <f:if condition="{data.flexform_field_imgone}">
                <f:if condition="{data.flexform_field_linkone}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkone}"><img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="fourimages">
            <f:if condition="{data.flexform_field_imgtwo}">
                <f:if condition="{data.flexform_field_linktwo}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linktwo}"><img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="fourimages">
            <f:if condition="{data.flexform_field_imgthree}">
                <f:if condition="{data.flexform_field_linkthree}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkthree}"><img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="fourimages">
            <f:if condition="{data.flexform_field_imgfour}">
                <f:if condition="{data.flexform_field_linkfour}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkfour}"><img src="uploads/tx_armtpl/{data.flexform_field_imgfour}" alt="{data.flexform_field_imgfourcaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfourtitle}</div>
                            <div class="caption">{data.flexform_field_imgfourcaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgfour}" alt="{data.flexform_field_imgfourcaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfourtitle}</div>
                            <div class="caption">{data.flexform_field_imgfourcaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
    </div>
</f:if>
<f:if condition="{data.flexform_field_imgcnt}==5">
    <div class="eightimgcontainer">
        <div class="fiveimages">
            <f:if condition="{data.flexform_field_imgone}">
                <f:if condition="{data.flexform_field_linkone}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkone}"><img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="fiveimages">
            <f:if condition="{data.flexform_field_imgtwo}">
                <f:if condition="{data.flexform_field_linktwo}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linktwo}"><img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="fiveimages">
            <f:if condition="{data.flexform_field_imgthree}">
                <f:if condition="{data.flexform_field_linkthree}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkthree}"><img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="fiveimages">
            <f:if condition="{data.flexform_field_imgfour}">
                <f:if condition="{data.flexform_field_linkfour}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkfour}"><img src="uploads/tx_armtpl/{data.flexform_field_imgfour}" alt="{data.flexform_field_imgfourcaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfourtitle}</div>
                            <div class="caption">{data.flexform_field_imgfourcaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgfour}" alt="{data.flexform_field_imgfourcaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfourtitle}</div>
                            <div class="caption">{data.flexform_field_imgfourcaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="fiveimages">
            <f:if condition="{data.flexform_field_imgfive}">
                <f:if condition="{data.flexform_field_linkfive}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkfive}"><img src="uploads/tx_armtpl/{data.flexform_field_imgfive}" alt="{data.flexform_field_imgfivecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfivetitle}</div>
                            <div class="caption">{data.flexform_field_imgfivecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                         <img src="uploads/tx_armtpl/{data.flexform_field_imgfive}" alt="{data.flexform_field_imgfivecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfivetitle}</div>
                            <div class="caption">{data.flexform_field_imgfivecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
    </div>
</f:if>

<f:if condition="{data.flexform_field_imgcnt}==6">
    <div class="eightimgcontainer">
        <div class="siximages">
            <f:if condition="{data.flexform_field_imgone}">
               <f:if condition="{data.flexform_field_linkone}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkone}"><img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="siximages">
            <f:if condition="{data.flexform_field_imgtwo}">
               <f:if condition="{data.flexform_field_linktwo}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linktwo}"><img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="siximages">
            <f:if condition="{data.flexform_field_imgthree}">
                <f:if condition="{data.flexform_field_linkthree}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkthree}"><img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="siximages">
            <f:if condition="{data.flexform_field_imgfour}">
                <f:if condition="{data.flexform_field_linkfour}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkfour}"><img src="uploads/tx_armtpl/{data.flexform_field_imgfour}" alt="{data.flexform_field_imgfourcaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfourtitle}</div>
                            <div class="caption">{data.flexform_field_imgfourcaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgfour}" alt="{data.flexform_field_imgfourcaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfourtitle}</div>
                            <div class="caption">{data.flexform_field_imgfourcaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="siximages">
            <f:if condition="{data.flexform_field_imgfive}">
                <f:if condition="{data.flexform_field_linkfive}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkfive}"><img src="uploads/tx_armtpl/{data.flexform_field_imgfive}" alt="{data.flexform_field_imgfivecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfivetitle}</div>
                            <div class="caption">{data.flexform_field_imgfivecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                         <img src="uploads/tx_armtpl/{data.flexform_field_imgfive}" alt="{data.flexform_field_imgfivecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfivetitle}</div>
                            <div class="caption">{data.flexform_field_imgfivecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="siximages">
            <f:if condition="{data.flexform_field_imgsix}">
                <f:if condition="{data.flexform_field_linksix}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linksix}"><img src="uploads/tx_armtpl/{data.flexform_field_imgsix}" alt="{data.flexform_field_imgsixcaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgsixtitle}</div>
                            <div class="caption">{data.flexform_field_imgsixcaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgsix}" alt="{data.flexform_field_imgsixcaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgsixtitle}</div>
                            <div class="caption">{data.flexform_field_imgsixcaption}</div>
                        </f:if>
                    </f:else>
                </f:if>                
            </f:if>
        </div>
    </div>
</f:if>

<f:if condition="{data.flexform_field_imgcnt}==7">
    <div class="eightimgcontainer">
        <div class="sevenimages">
            <f:if condition="{data.flexform_field_imgone}">
                <f:if condition="{data.flexform_field_linkone}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkone}"><img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="sevenimages">
            <f:if condition="{data.flexform_field_imgtwo}">
                <f:if condition="{data.flexform_field_linktwo}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linktwo}"><img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="sevenimages">
            <f:if condition="{data.flexform_field_imgthree}">
                <f:if condition="{data.flexform_field_linkthree}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkthree}"><img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="sevenimages">
            <f:if condition="{data.flexform_field_imgfour}">
                <f:if condition="{data.flexform_field_linkfour}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkfour}"><img src="uploads/tx_armtpl/{data.flexform_field_imgfour}" alt="{data.flexform_field_imgfourcaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfourtitle}</div>
                            <div class="caption">{data.flexform_field_imgfourcaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgfour}" alt="{data.flexform_field_imgfourcaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfourtitle}</div>
                            <div class="caption">{data.flexform_field_imgfourcaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="sevenimages">
            <f:if condition="{data.flexform_field_imgfive}">
                <f:if condition="{data.flexform_field_linkfive}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkfive}"><img src="uploads/tx_armtpl/{data.flexform_field_imgfive}" alt="{data.flexform_field_imgfivecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfivetitle}</div>
                            <div class="caption">{data.flexform_field_imgfivecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                         <img src="uploads/tx_armtpl/{data.flexform_field_imgfive}" alt="{data.flexform_field_imgfivecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfivetitle}</div>
                            <div class="caption">{data.flexform_field_imgfivecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="sevenimages">
            <f:if condition="{data.flexform_field_imgsix}">
                <f:if condition="{data.flexform_field_linksix}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linksix}"><img src="uploads/tx_armtpl/{data.flexform_field_imgsix}" alt="{data.flexform_field_imgsixcaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgsixtitle}</div>
                            <div class="caption">{data.flexform_field_imgsixcaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgsix}" alt="{data.flexform_field_imgsixcaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgsixtitle}</div>
                            <div class="caption">{data.flexform_field_imgsixcaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="sevenimages">
            <f:if condition="{data.flexform_field_imgseven}">
                <f:if condition="{data.flexform_field_linkseven}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkseven}"><img src="uploads/tx_armtpl/{data.flexform_field_imgseven}" alt="{data.flexform_field_imgsevencaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgseventitle}</div>
                            <div class="caption">{data.flexform_field_imgsevencaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgseven}" alt="{data.flexform_field_imgsevencaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgseventitle}</div>
                            <div class="caption">{data.flexform_field_imgsevencaption}</div>
                        </f:if>
                    </f:else>
                </f:if>                
            </f:if>
        </div>
    </div>
</f:if>

<f:if condition="{data.flexform_field_imgcnt}==8">
    <div class="eightimgcontainer">
        <div class="eightimages">
             <f:if condition="{data.flexform_field_imgone}">
                <f:if condition="{data.flexform_field_linkone}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkone}"><img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgone}" alt="{data.flexform_field_imgonecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgonetitle}</div>
                            <div class="caption">{data.flexform_field_imgonecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>                
            </f:if>
        </div>
        <div class="eightimages">
            <f:if condition="{data.flexform_field_imgtwo}">
                <f:if condition="{data.flexform_field_linktwo}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linktwo}"><img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgtwo}" alt="{data.flexform_field_imgtwocaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgtwotitle}</div>
                            <div class="caption">{data.flexform_field_imgtwocaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="eightimages">
            <f:if condition="{data.flexform_field_imgthree}">
                <f:if condition="{data.flexform_field_linkthree}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkthree}"><img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgthree}" alt="{data.flexform_field_imgthreecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgthreetitle}</div>
                            <div class="caption">{data.flexform_field_imgthreecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="eightimages">
            <f:if condition="{data.flexform_field_imgfour}">
                <f:if condition="{data.flexform_field_linkfour}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkfour}"><img src="uploads/tx_armtpl/{data.flexform_field_imgfour}" alt="{data.flexform_field_imgfourcaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfourtitle}</div>
                            <div class="caption">{data.flexform_field_imgfourcaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgfour}" alt="{data.flexform_field_imgfourcaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfourtitle}</div>
                            <div class="caption">{data.flexform_field_imgfourcaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="eightimages">
            <f:if condition="{data.flexform_field_imgfive}">
                <f:if condition="{data.flexform_field_linkfive}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkfive}"><img src="uploads/tx_armtpl/{data.flexform_field_imgfive}" alt="{data.flexform_field_imgfivecaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfivetitle}</div>
                            <div class="caption">{data.flexform_field_imgfivecaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                         <img src="uploads/tx_armtpl/{data.flexform_field_imgfive}" alt="{data.flexform_field_imgfivecaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgfivetitle}</div>
                            <div class="caption">{data.flexform_field_imgfivecaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="eightimages">
            <f:if condition="{data.flexform_field_imgsix}">
                <f:if condition="{data.flexform_field_linksix}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linksix}"><img src="uploads/tx_armtpl/{data.flexform_field_imgsix}" alt="{data.flexform_field_imgsixcaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgsixtitle}</div>
                            <div class="caption">{data.flexform_field_imgsixcaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgsix}" alt="{data.flexform_field_imgsixcaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgsixtitle}</div>
                            <div class="caption">{data.flexform_field_imgsixcaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="eightimages">
            <f:if condition="{data.flexform_field_imgseven}">
                <f:if condition="{data.flexform_field_linkseven}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkseven}"><img src="uploads/tx_armtpl/{data.flexform_field_imgseven}" alt="{data.flexform_field_imgsevencaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgseventitle}</div>
                            <div class="caption">{data.flexform_field_imgsevencaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgseven}" alt="{data.flexform_field_imgsevencaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgseventitle}</div>
                            <div class="caption">{data.flexform_field_imgsevencaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
        <div class="eightimages">
            <f:if condition="{data.flexform_field_imgeight}">
                <f:if condition="{data.flexform_field_linkeight}">
                    <f:then>
                        <f:link.typolink parameter="{data.flexform_field_linkeight}"><img src="uploads/tx_armtpl/{data.flexform_field_imgeight}" alt="{data.flexform_field_imgeightcaption}"></f:link.typolink>
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgeighttitle}</div>
                            <div class="caption">{data.flexform_field_imgeightcaption}</div>
                        </f:if>
                    </f:then>
                    <f:else>
                        <img src="uploads/tx_armtpl/{data.flexform_field_imgeight}" alt="{data.flexform_field_imgeightcaption}">
                        <f:if condition="{data.flexform_field_showcap}">
                            <div class="image-caption">{data.flexform_field_imgeighttitle}</div>
                            <div class="caption">{data.flexform_field_imgeightcaption}</div>
                        </f:if>
                    </f:else>
                </f:if>
            </f:if>
        </div>
    </div>
</f:if>
</div>