<div class="swiper-slide text-center">
    <div class="roundimg">
        <img src="uploads/tx_armtpl/{data.flexform_field_img}" alt="{data.flexform_field_imgalt}">
        <f:if condition="{data.flexform_field_caption}">
            <figcaption class="image-caption">{data.flexform_field_caption}</figcaption>
        </f:if>
    </div>
    <div class="testimonial">
        <div class="text">
            <f:format.raw>{data.flexform_field_text}</f:format.raw>
        </div>
        <p class="title">{data.flexform_field_title}</p>
    </div>
</div>